
<div class="row-1 mb-4">                               
  <div *ngIf="(cityFavorute$|async).length==0">
    <div class="display-4 pb-4"
    [ngClass]="(darkSwitch$|async) ? '' : 'text-white'">
      No Favorites
    </div>
  </div>  
  <div *ngFor="let city of (cityFavorute$| async)"> 


    <div class="bto pb-2">
      <button type="button" class="btn btn-block rounded-0" (click)="navCityWth(city.name)"
      [ngClass]="(darkSwitch$|async) ? 'btn-primary ' : 'btn-dark border border-white'">
      <i class="fas fa-city pr-2"></i> {{city.name}}
    </button>
    <button type="button" class="btn rounded-0" (click)="removeFavorit(city.id,city.name)"
    [ngClass]="(darkSwitch$|async) ? 'btn-primary' : 'btn-dark border border-white'">
    <i class="fas fa-trash"></i>
  </button>
</div>
<div class="box-1">
  <div class="accordion pb-1">           
    <div *ngFor="let day of city.days">
      <section class="accordion-item  rounded border  mb-1"
      [ngClass]="(darkSwitch$|async) ? 'bg-info border-primary' : 'bg-dark border-white text-white'">
      <div class="lead py-2 pl-2 text-left">
        <i class="fas fa-calendar-day"></i>
        {{ parserDeta(day.Date)}}</div>
        <div class="accordion-item-content">
          <span [ngSwitch]="(f_c_switch$| async)">
            <div *ngSwitchCase="true">
              <div class="text-flex">
                <div >
                  <i class="fas fa-temperature-high"></i>Max: {{day.Temperature.Maximum.Value}} F
                </div>
                <div >
                  <i class="fas fa-temperature-low text-right"></i>Min: {{day.Temperature.Minimum.Value}} F
                </div>
              </div>
            </div>
            <div *ngSwitchCase="false">
              <div class="text-flex">
                <div >
                  <i class="fas fa-temperature-high"></i>Max: {{parserCelsius(day.Temperature.Maximum.Value)}} C
                </div>
                <div >
                  <i class="fas fa-temperature-low text-right"></i>Min: {{parserCelsius(day.Temperature.Minimum.Value)}} C
                </div>
              </div>
            </div>
          </span>
          <div class="text-center"><i class="far fa-sun"></i>
            Day: {{day.Day.IconPhrase}}</div>
            <div class="text-center">
              <i class="fas fa-moon"></i>
              Night: {{day.Night.IconPhrase}}
            </div>         
          </div>
        </section>
      </div>      
    </div>  
</div>
</div>
</div>